body {
	font-family: Arial, sans-serif;
	font-size: 13px;
}

#image {
	height: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding-top: 100px;
	display: block;
	clear: right;
}

#buttons {
	width: 328px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
}
#buttons div {
	background-color: #f2f2f2;
	height: 10px;
	width: 130px;
	padding: 10px 10px 15px 10px;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: gray;
	border: 1px solid #f2f2f2;
	display: inline-block;
	margin: 0 5px 0 5px;
}

#buttons .button:hover {
	border: 1px solid gray;
}

#textbox {
	width: 540px;
	height: 30px;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	display: block;
	border: 1px solid #d9d9d9;
}

#header {

}

#header_list {
	list-style-type: none;
	margin-right: 10px;
	padding: 0;
	float: right
}
li {
	display: inline;

}

a {
	text-decoration: none;
	color: gray;
	padding: 10px 10px 10px 10px;
}

.list_links {
	color: gray;
}
.list_links:hover {
	text-decoration: underline;

}

#apps img {
	height: 30px;
	width: 30px;
	opacity: 0.55;
	margin: -20px 5px -10px 0px;
}

#apps a img:hover {
	opacity: 1;
}

#sign_in a {
    height: 30px;
    width: 100px;
    margin-right: 20px;
    padding: 10 20px;
    background-color: #4285f4;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}

#footer {
	position: fixed;
	width: 100%;
	height: 40px;
	bottom: 0;
	display: block;
	background-color: #f2f2f2;
	border-top: 1px solid #d9d9d9;
	padding-bottom: 15px;
	/*border-top: 1px solid #e6e6e6;
	background-color: #f2f2f2;
	bottom: 0;
	position: absolute;
	width: 100%;*/
}

.footer_left {
	float: left;
	margin-left: 20px
}

.footer_right {
	float: right;
	margin-right: 20px
}

.footer_left:hover {
	text-decoration: underline;
}

.footer_right:hover {
	text-decoration: underline;
}